/* General styles for the page */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Register container styling */
.register-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

/* Header styling */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #1976d2;
  padding: 10px 20px;
}

header a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  padding: 8px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

header .login-button {
  background-color: transparent;
  border: 1px solid #fff;
}

header .signup-button {
  background-color: #fff;
  color: #1976d2;
}

header a:hover {
  opacity: 0.8;
}

/* Register form container styling */
.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box; 
}


.register-form {
  background-color: #f8f8f8;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #1976d2; 
  max-width: 400px; 
  width: 100%;
}

.register-form-container h2 {
  color: #1565c0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding-right: 380px;
}

.register-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register-form button {
  width: 100%;
  padding: 12px;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #1565c0;
}

.login-link-inside-form {
  margin-top: 20px;
  font-size: 14px;
}

.login-link-inside-form a {
  color: #1976d2;
  text-decoration: none;
}

.login-link-inside-form a:hover {
  text-decoration: underline;
}

.google-signup-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.google-signup-button:hover {
  background-color: #f0f0f0;
}

.google-signup-button img {
  margin-right: 8px;
}
